{% extends "layout.html" %}

{% block content %}
<h2>Add a New Disease</h2>

<form action="/proxy/5000/diseases/form" method="post" enctype="multipart/form-data">

    <label for="name">Disease Name:</label>
    <input type="text" name="name" required>

    <label for="description">Description:</label>
    <input type="text" name="description">

    <label for="file">Upload CSV File:</label>
    <input type="file" name="file" accept=".csv" required>

    <label>Model File (.h5):</label>
    <input type="file" name="model_file" accept=".h5" required>

    <label>Preprocessing File (.pkl/.json/.py/.txt):</label>
    <input type="file" name="preprocess_file" accept=".pkl/.json/.py/.txt" required>

    <button type="submit">Add</button>
</form>
{% endblock %}
